*~
*.a
*.d
*.dll
*.exe
*.la
*.lo
*.o
*.obj
*.res
.deps
.dirstamp
.libs
autom4te.cache
config.log
config.status
stamp-h1
Makefile
config.h
doc/Makefile
examples/Makefile
examples/dvbinfo/Makefile
gmake.log
libdvbpsi.pc
libtool
misc/Makefile
src/Makefile
wince/Makefile
